# Data Science - Unit 1 Sprint 1 Module 3

## Join and Reshape Data 

### Module Learning Objectives

* Concatenate data using the pandas concat method
* Merge data using pandas merge
* Define the concept of tidy data and describe the format
* Tidy data

### Helpful Resources

* [Pandas Cheat Sheet](https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf)
* Python Data Science Handbook
    * [Chapter 3.6](https://jakevdp.github.io/PythonDataScienceHandbook/03.06-concat-and-append.html), Combining Datasets: Concat and Append
    * [Chapter 3.7](https://jakevdp.github.io/PythonDataScienceHandbook/03.07-merge-and-join.html), Combining Datasets: Merge and Join
    * [Chapter 3.8](https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html), Aggregation and Grouping
    * [Chapter 3.9](https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html), Pivot Tables
    
### Notebook points: 8

## Introduction

In this Module Project, we're going to focus on manipulating data: loading multiple datasets from different locations, concatenating, merging, and even the fancy pandas `groupby` method.

## Dataset Description

You can view the CSV files [here](https://github.com/LambdaSchool/data-science-practice-datasets/tree/main/unit_1/Instacart_small), before you load them into your notebook.

**Task 1** - Load CSV files

We're going to look at the Instacart data and load the files as we need them. The Pandas and numpy import statements have been provided for you as well as the URL for the dataset.

* Using the provided URL (`data_url1`) load the product CSV file into a DataFrame called `product_names`.
* Print the top five records (or rows) of `product_names`.

In [2]:
# Task 1

# Imports 
import pandas as pd
import numpy as np

# Dataset URL
data_url1 = 'https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/Instacart_small/product_names_sm.csv'
# YOUR CODE HERE
product_names = pd.read_csv(data_url1)

# View the DataFrame
product_names.head()

,product_id,product_name,aisle_id,department_id
0,45676,Oil Free Acne Stress Control Power Clear Scrub,73,11
1,35408,Soymilk Vanilla Value Size,91,16
2,37442,Vegan Egg,86,16
3,41599,Organic Echinacea Herb Capsules,47,11
4,21994,Premium Saline Nasal Spray,11,11

In [3]:
# Task 1 - Test

assert isinstance(product_names, pd.DataFrame), 'Have you created a DataFrame named `product_names`?'
assert len(product_names) == 25000

**Task 2** - DataFrame concatenation

Next, we're going to load two additional CSV files. The URLs have been provided so your task is to load the files into the appropriately named DataFrames and then to concatenate them into one DataFrame.

* Load the CSV file at `data_url2` into a DataFrame called `order_products_prior`.
* Load the CSV file at `data_url3` into a DataFrame called `order_products_train`.
* Concatenate `order_products_prior` and `order_products_train` into one DataFrame called `order_products`.

In [6]:
# Task 2

# Dataset URLs
data_url2 = 'https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/Instacart_small/order_products_prior_sm.csv'
data_url3 = 'https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/Instacart_small/order_products_train_sm.csv'

# YOUR CODE HERE
order_products_prior = pd.read_csv(data_url2)
order_products_train = pd.read_csv(data_url3)

order_products = pd.concat([order_products_train, order_products_prior])

# Print the head to view your results
order_products.head()

   order_id  product_id  add_to_cart_order  reordered
0   3178234       22620                  2          0
1   2319083       27156                 14          0
2   1951854        5818                  9          1
3   1615787       40198                 13          0
4   1666094       14491                 13          0

In [7]:
# Task 2 - Test

assert isinstance(order_products, pd.DataFrame), 'Have you created a DataFrame named `order_products`?'
assert len(order_products) == 50000

**Task 3** - Top five (5) products

We're going to create a list of the top five products - we've already determined what the top five are so now it's your turn to put these items in a list.

* Create a list called `five_products` with the following items: "Bag of Organic Bananas", "Organic Baby Spinach", "Organic Avocado", "Large Lemon", "Limes"

*Note: Make sure to create the list with exact spelling as shown above!*

In [8]:
# Task 3

# Top 5 products: five_products

# YOUR CODE HERE
five_products = ["Bag of Organic Bananas", "Organic Baby Spinach", "Organic Avocado", "Large Lemon", "Limes"]

In [9]:
# Task 3 - Test

assert isinstance(five_products, list), 'Have you created the five_products list?'
assert len(five_products) == 5, "Make sure you created the list correctly"

# No hidden tests for this task

**Task 4** - DataFrame subset using merge

Create a subset of the `product_names` dataset that includes just the top **five** most ordered products. The `five_products` list has been converted to a DataFrame with the name `five`. Your task is to merge these DataFrames.

* Merge `product_names` and `five` so the resulting DataFrame only includes the 5 most ordered products.  Name that DataFrame `top_products`.

In [16]:
# Task 4

# Convert five_products to a DataFrame called five
five = pd.DataFrame(five_products, columns =['product_name']) 

# Create a subset of product_names with only the top 5 products.  
# Use your merge statement to include only the top 5 products

# YOUR CODE HERE
top_products = product_names.merge(five)

# Print your DataFrame to view the merge results
top_products

   product_id            product_name  aisle_id  department_id
0       47766         Organic Avocado        24              4
1       47626             Large Lemon        24              4
2       13176  Bag of Organic Bananas        24              4
3       26209                   Limes        24              4
4       21903    Organic Baby Spinach       123              4

In [17]:
# Task 4 - Test
assert isinstance(top_products, pd.DataFrame), 'Have you created a DataFrame named `top_products`?'

**Task 5** - More DataFrame merging

Now we're going to merge the first DataFrame we created (`order_products`) with the one we just made above (`top_products`). This will result in a DataFrame with only the top five most ordered products.

* Merge `order_products` and `top_products` and name the resulting DataFrame `final`.
* Print the top 20 rows of `final` to view your result.

In [18]:
# Task 5

# Merge order_products and top_products 

# YOUR CODE HERE
final = order_products.merge(top_products)

# Print your final DataFrame
final.head(20)

,order_id,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id
0,2535968,21903,6,1,Organic Baby Spinach,123,4
1,1500774,21903,5,1,Organic Baby Spinach,123,4
2,3116355,21903,11,1,Organic Baby Spinach,123,4
3,717453,21903,3,1,Organic Baby Spinach,123,4
4,1256761,21903,6,1,Organic Baby Spinach,123,4
5,2154292,21903,2,1,Organic Baby Spinach,123,4
6,765349,21903,2,0,Organic Baby Spinach,123,4
7,803675,21903,3,1,Organic Baby Spinach,123,4
8,2408804,21903,5,0,Organic Baby Spinach,123,4
9,1131445,21903,7,1,Organic Baby Spinach,123,4
10,598931,21903,10,0,Organic Baby Spinach,123,4
11,2552420,21903,8,1,Organic Baby Spinach,123,4
12,3330212,21903,15,1,Organic Baby Spinach,123,4
13,952938,21903,5,1,Organic Baby Spinach,123,4
14,862591,21903,16,1,Organic Baby Spinach,123,4
15,1865025,21903,4,0,Organic Baby Spinach,123,4
16,3225213,21903,4,1,Organic Baby Spinach,123,4
17,2557427,21903,2,1,Organic Baby Spinach,123,4
18,448436,21903,5,1,Organic Baby Spinach,123,4
19,3107839,21903,5,1,Organic Baby Spinach,123,4

In [19]:
# Task 5 - Test

assert isinstance(final, pd.DataFrame), 'Have you created a DataFrame named `final`?'

**Task 6** - Top five products - value counts

Note that every record in `final` is a single instance in which someone ordered one of the top five products.  Your task is to calcluate the number of times each product was ordered.

* Calculate the **number of times** each product was ordered using `value_counts()`. Name the result `food_frequency`.
* Assign the most frequently ordered food to the variable `top_item` (your variable should be a string; make sure to use the exact formatting returned above).

In [20]:
final.shape

(1670, 7)

In [43]:
# Task 6

# Determine the number of times each product was ordered

# YOUR CODE HERE
food_frequency = final['product_name'].value_counts()
top_item = 'Bag of Organic Bananas'

# View your results
food_frequency.head()

Bag of Organic Bananas    561
Organic Baby Spinach      360
Large Lemon               283
Organic Avocado           269
Limes                     197
Name: product_name, dtype: int64

In [24]:
# Task 6 - Test
assert food_frequency.shape == (5,), 'Check to make sure you merged correctly'

**Task 7** - Using `groupby()` and `mean()`

In this next step, we're going to import one last CSV file and look at the time of day an order was made. Some of the code has been provided for you - your task is to complete the merging and look at the mean time of the top five orders.

**Completed for you**
* Imported `orders_sm.csv` as the DataFrame `orders`.
* Merged `orders` and `final` into a DataFrame called `final_times` that only includes the top five foods.

**Your tasks**
* Use the `groupby()` and `mean()` functions to calculate the mean time each product was ordered (`order_hour_of_day`).
* Name the results of your calculation `mean_hours`.

In [36]:
# Task 7

# COMPLETED FOR YOU
# Import orders.csv and name the DataFrame orders
data_url4 = 'https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/Instacart_small/orders_sm.csv'
orders = pd.read_csv(data_url4)
# Merge orders and final into the DataFrame final_time
final_time = pd.merge(orders, final, on='order_id', how='right')

# Use groupby() and mean() to calculate the mean time each product was ordered

# YOUR CODE HERE

mean_hours = final_time.groupby('product_name')['order_hour_of_day'].mean()

# View your results
mean_hours.head()

product_name
Bag of Organic Bananas    13.200000
Large Lemon               16.000000
Limes                     10.333333
Organic Avocado           17.500000
Organic Baby Spinach      14.500000
Name: order_hour_of_day, dtype: float64

In [37]:
# Task 7 - Test
assert mean_hours.shape == (5,), 'Check to make sure you merged correctly'

**Task 8** - Mean order time

Using the results from above, determine the mean order time for two of the top five items: "Limes" and "Organic Baby Spinach"

* Find the mean order time for "Limes" and assign it to the variable `time_limes`. Your answer should be a float defined to one decimal place.
* Find the mean order time for "Organic Baby Spinach" and assign it to the variable `time_spinach`. You answer should be a float defined to one decimal place.

In [39]:
# Task 8

# YOUR CODE HERE
time_limes = mean_hours['Limes']
time_spinach = mean_hours[ "Organic Baby Spinach"]

**Task 8 Test**

In [40]:
# Task 8 - Test